<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Sample APP", root_path , {id: "logo"} %>
      </div>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "home",root_path , {id: "home"} %></li>
          <li><%= link_to "help",help_path , {id: "help"} %></li>
          <% if logged_in? %>
          <li><%= link_to "Users", "#" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
          </li>
          <% else %>
          <li><%= link_to "login",login_path , {id: "login"} %></li>
          <% end %>
        </ul> 
      </nav>
    </header>